<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <form action="">
         <table>

            <tr>
                   <td><lable>First Name </lable></td>
                   <td><input type="text" name ="fname"></td>
            </tr>

            <tr>
                    <td><lable>Last Name </lable></td>
                    <td><input type="text" name ="lname"></td>
           </tr>

           <tr>
                     <td><lable>Email</lable></td>
                     <td><input type="text" name ="Email"></td>
           </tr>

           <tr>
                     <td><lable>password</lable></td>
                     <td><input type="password" name =pass ></td>
           </tr>

           <tr>
                        <td><input type="Submit" name ="Submit"></td>
          </tr>

         </table>
       </form>
</body>
</html>