<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</titlc e>
    <style>
            body{
                background-color: aquamarine;
            }
    
        input{
            padding: 15px;
            width: 100px;
            margin: 10px;
            border-radius: 5px;
            font-family: sans-serif;
        }
    
        </style>
       
</head>
<body>
    <table>
        <tr>
            <td><label>Match Date</label></td>
            <input type="number" name="matchdate">
            
        </tr>
        <tr>
                <td><label>Match Day</label></td>
                <input type="text" name="matchday">
                
            </tr>
            <tr>
                    <td><label>Match Teams</label></td>
                    <input type="text" name="matchteams">
                    
                </tr>
                <tr>
                        <td><label>Time</label></td>
                        <input type="number" name="matchtime">
                        
                    </tr>
                    <tr>
                            <td><label>Venue</label></td>
                            <input type="text" name="venue">
                            
                    </tr>

    </table>
    
</body>
</html>