<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<<device-width>>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    <style>
        body{
            background-color: aquamarine;
        }

    input{
        padding: 15px;
        width: 100px;
        margin: 10px;
        border-radius: 5px;
        font-family: sans-serif;
    }

    </style>
   
</head>
<body>
    <table>
        <tr>
            <td><label>Team Name</label></td>
            <input type="text" name="teamname">
        </tr>
        <tr>
            <td><label>Captain Name</label></td>
            <input type="text" name="captainname">
        </tr>
        <tr>
            <td><label>Team Code</label></td>
            <input type="number" name="teamcode">
        </tr>
        <tr>
            <td><label>Phone Number</label></td>
            <input type="number" name="phonenumber">
        </tr>
        <tr>
            <td><label>Coach Name</label></td>
            <input type="text" name="coachname">
        </tr>
        <tr>
            <td><label>Country Name</label></td>
            <input type="text" name="countryname">
        </tr>
    </table>
</body>
</html>